# Delphi compiler-generated binaries (safe to delete)
*.exe
*.dll
*.bpl
*.bpi
*.dcp
*.so
*.apk
*.drc
*.map
*.dres
*.rsm
*.tds
*.dcu
*.lib
*.a
*.o
*.ocx

# Delphi local files (user-specific info)
*.local
*.identcache
*.projdata
*.tvsconfig
*.dsk

# Delphi history and backups
__history/
*.~*

# Windows Help index files
*.gid

# User-specific settings (e.g. paths)
userprefs.bat

# Temporary batch file copies
*.tmp.bat

# Per-project compiler options created by Delphi
# <project-name>.cfg.main is always used instead for command-line compile
tdebaets_comps.cfg
tdebaets_comps_unicode.cfg
# no command-line compile supported
dfm2text.cfg
